.screen {
  border: solid 1px #9A9A9A;
  border-radius: 4px;
}

.info {
  display: flex;
}

.left-block {
  background-color: #F2F2F2;
  width: 44%;
  padding: 24px 16px;
}

.right-block {
  padding: 24px 32px;
  width: 56%;
}

.edit-panel {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
}

.edit-panel img {
  margin-right: 16px;
  height: 16px;
  width: 16px;
}
