@import "src/styles";

.county {
  background-color: white;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.open {
  color: @color-blue;
}
